* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
}

.image-container {
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
}

.car-tag-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  font-size: 0.8rem;
  max-width: 25%;
  padding: 0.1rem 0.5rem;
  position: absolute;
  transition: max-width 5s ease-out;
}

.car-tag-container__header {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.car-tag-container__button {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
}

.car-tag-container__heading {
}

.pop-up-container {
  animation: fade-in 0.5s ease-in;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 1rem;

  left: 25%;
  max-width: 50%;
  padding: 0.4rem 1rem;
  position: absolute;
  top: 50%;
  z-index: 1000;
}

.pop-up-container--hidden {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pop-up-container__heading {
}

.pop-up-container__text {
}

.pop-up-container__button {
  cursor: pointer;
}

@media (max-width: 755px) {
  .pop-up-container {
    height: 100%;
    left: 67%;
    top: 0;
    width: 33%;
  }
}

#aufbau {
  left: 38%;
  top: 22%;
}

#boden-vorne {
  left: 22.5%;
  top: 54.5%;
}

#boden-mitte {
  left: 51%;
  top: 50%;
}

#boden-hinten {
  left: 62%;
  top: 44%;
}

#tueren-und-anbauteile {
  left: 64%;
  top: 34%;
}

#trb-entwicklung {
  left: 71%;
  top: 65%;
}

#halbzeug {
  left: 71%;
  top: 73%;
}

#fertigteile {
  left: 71%;
  top: 82%;
}
